.tut-link {
  height: 40px;
  width: 80px;
  margin: 0 50%;
  bottom: 20px;
  /* z-index: -1; */
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
}

h5 {
  color: rgb(158, 158, 158);
  font-weight: lighter;
}

/* .dep-description h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 0.3rem;
  border-radius: 1rem;
  width: 50%;
  margin: 0 auto;
  background-color: currentColor;
} */

/* li {
  font-size: x-small;
  margin: 1px 5px;
} */

/* p {
  font-size: x-small;
  margin: 1px 5px;
} */
