/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
}

#root {
  background: black;
}

html,
body {
  font-display: swap;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  position: fixed;
  background: black;
} */
